a {
  color: white;
}
body{
  margin: 0;
}
.header {
  background-color: black;
  display: flex;
  padding: 25px 20px;
}
.CartIcon{
  color: white;
}
.CartIcon:hover {
  cursor: pointer;
}
.cartWrapper {
  position: absolute;
  background-color: yellow;
}