@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.header {
    background-color: #3F64C2;
    padding: 35px 35px;

    .headerLogo {
        width: 100px;
        height: auto;
        position: absolute;
        top: 1px;
        left: 15px;
    }

    .linkPlusCart {
        display: flex;
        justify-content: center;
        width: 100%;

        .linkHome,
        .linkShop,
        .linkCart {
            font-size: 25px;
            margin-right: 15px;
            text-decoration: none;
            font-weight: 500;
        }

        .cartIcon {
            font-size: 30px;
            margin: unset;
            color: #FFFFFF;
            position: absolute;
            right: 5%;

            &:hover {
                cursor: pointer;
            }
        }


        .cartWrapper {
            position: absolute;
            background-color: #F1F1E6;
            width: 35%;
            top: 110px;
            right: 4.7%;
            border-radius: 10px;
            border-top-right-radius: 0;
            padding-top: 5px;

            box-shadow: -12px 12px 8px rgba(0, 0, 0, .12), 0 8px 8px rgba(0, 0, 0, .12), 0 4px 4px rgba(0, 0, 0, .12), -8px 8px 8px rgba(0, 0, 0, .12), -16px 16px 10px rgba(0, 0, 0, .12);
            
            .dropArrow {
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 30px solid #F1F1E6;
                position: absolute;
                right: 0;
                top: -46px;
            }

            .item-entry {
                display: flex;

                // Item bottom border
                background-size: 93% 2px;
                background-position: bottom center;
                background-repeat: no-repeat;
                background-image: linear-gradient(grey, grey);

                h3 {
                    width: 45%;
                    margin: 25px 0 0 20px;
                }

                a {
                    img {
                        margin: 15px 0 15px 23px;
                    }
                }

                .price-quan-block {
                    display: flex;
                    margin: auto;
                    margin-top: 17px;

                    h2 {
                        width: 2.3em;
                        overflow: hidden;
                        margin: 23px 15px 0 0;
                        margin-left: -17px;
                        color: #515050;
                    }

                    .quan-block {
                        display: flex;
                        align-items: center;

                        p {
                            border-radius: 25px;
                            text-align: center;
                            width: 33px;
                            height: 33px;
                            border: 1px solid gray;
                            font-size: 20px;
                            line-height: 32px;
                        }

                        button {
                            background-color: transparent;
                            border: none;
                            font-size: 20px;
                            width: 30px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .totalAndButtons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                    margin-left: 5%;
                }
                .buttons {
                    width: 29%;
                   margin-right: 4.2%;
                    button {
                        font-size: 16px;
                        color: white;
                        background-color: #3F64C2;
                        border: none;
                        border-radius: 10px;
                        padding: 11px 11px;
                        height: 37px;
            
                        &:hover {
                            cursor: pointer;
                        }

                        &:nth-of-type(1) {
                          margin-right: 5%;
                        }
    
                        a {
                            text-decoration: none;
                        }
                    }
                }
                
            }
        }



    }
}